
/* These are general boxes and buttons I used for AddExercise, TrackWorkout, and ExerciseList */

.header{
    position: "relative";
    top: "0";
    width: 100%;
    max-width: fit-content;
    height: fit-content;
    border: 2px solid rgb(0 0 0);
    background-color: #fcfffd;
    padding: 30px;
    text-align: center;
}

.header:hover {
    background-color: rgb(64 188 42);
    transform: scale(1.1); /* Slightly enlarge the box */
    transition: all 0.3s ease;
}


.box1 {
    position: "relative";
    top: "0";
    width: 100%; /* Set the width of the box (adjust as needed) */
    max-width: fit-content;
    height: 100%; /* Set the height of the box */
    max-height: fit-content;
    border: 2px solid black; /* Add a border to make it visible */
    background-color: #fcfffd; /* Add a background color */
    padding: 30px; /* Add some inner spacing */
    text-align: center; /* Center the text horizontally */
    

     /* Horizontal centering */

    /* Use flexbox for centering */

     /* Center content horizontally */

     /* Center content vertically */
}

.box1:hover {
    background-color: rgb(64 188 42);
    transform: scale(1.1); /* Slightly enlarge the box */
    transition: all 0.3s ease;
}

.box2 {
    width: 100%; /* Set the width of the box (adjust as needed) */
    height: 20%; /* Set the height of the box */
    border: 2px solid black; /* Add a border to make it visible */
    background-color: #fcfffd; /* Add a background color */
    padding: 10px; /* Add some inner spacing */
    text-align: center; /* Center the text horizontally */
    margin: 10px auto;

     /* Horizontal centering */

    /* Use flexbox for centering */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.box2:hover {
    background-color: rgb(64 188 42);
    transform: scale(1.1); /* Slightly enlarge the box */
    transition: all 0.3s ease;
}

.dash-button{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
    height: 20%;
    text-align: center;
    background-color: rgb(252 253 253);
    padding: 10px;
    border: 2px solid black;
}

.dash-button:hover {
    background-color: rgb(64 188 42);
    transform: scale(1.1); /* Slightly enlarge the box */
    transition: all 0.3s ease;
}

.other-button{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
    height: 20%;
    text-align: center;
    background-color: rgb(252 253 253);
    padding: 10px;
    border: 2px solid black;
}

.other-button:hover {
    background-color: rgb(64 188 42);
    transform: scale(1.1); /* Slightly enlarge the box */
    transition: all 0.3s ease;
}